In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("postgresql+psycopg2://postgres:password@localhost:5432/mydb")

In [12]:
import psycopg2

def get_phone_specs(phone_name):
    query = f"""
    SELECT * 
    FROM samsung_phones 
    WHERE "Model" ILIKE %s;
    """
    with engine.connect() as conn:
        df = pd.read_sql_query(query, conn, params=(f"%{phone_name}%",))
    return df

In [ ]:
phone_name = "Samsung Galaxy F07"
df_specs = get_phone_specs(phone_name)
df_specs

,Model,Price,Launch Announcement,Display Size,Memory Internal,Ram,Primary Camera,Battery Capacity
0,Samsung Galaxy F07,"BDT 12,900.00","2025, October 04","6.7 inches, 108.4 cm2 (~83.6% screen-to-body r...",64 GB,4 GB,"Dual: 50 MP, (wide)",5000 mAh

In [ ]:
phone_name = "Samsung Galaxy F17 5G"
df_specs = get_phone_specs(phone_name)
df_specs

,Model,Price,Launch Announcement,Display Size,Memory Internal,Ram,Primary Camera,Battery Capacity
0,Samsung Galaxy F17 5G,"BDT 23,900.00","2025, September 11","6.7 inches, 110.2 cm2 (~86.0% screen-to-body r...",128 GB,"4 GB, 6 GB","Triple: 50 MP, (wide)",5000 mAh